
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;

}

html {
    scroll-behavior: smooth;
}
  
body{
    font-size: 15.5px;
    font-weight: 400;
    background-color: $primary;
}
a{
    text-decoration: none;
    color: $fourth;
}
a:hover{
    cursor: pointer;
    color: $secondry;
}
li{
    list-style: none;
}